.header {
  background-size: cover;
  background-position: center center;
  background-image: url(../asset/img/header_desktop.png);
  background-repeat: no-repeat; }
  .header .banner {
    min-height: 420px; }
  .header .menu ul a {
    display: block; }
  .header .menu ul:hover {
    font-weight: bolder; }
  .header .hamburger-menu {
    display: none; }
    @media (max-width: 768px) {
      .header .hamburger-menu {
        display: block;
        float: right; } }
  @media (max-width: 568px) {
    .header {
      background-image: url(../asset/img/header_mobile.png); } }

.content {
  background: #000; }
  .content li {
    color: #000; }
    @media (max-width: 768px) {
      .content li {
        color: #ff0000; } }
    @media (max-width: 568px) {
      .content li {
        display: none; } }
  @media (max-width: 960px) {
    .content {
      float: left;
      width: 48%; } }
