@mixin hide-text {
	text-indent:110%;
	white-space:nowrap;
	overflow:hidden;
}

@mixin circle($size,$bgcolor){
	border-radius:50%;
	height:$size;
	width:$size;
	font-size:$size / 3;
	background:$bgcolor;
}

